{{ define "main" }}
<div class="container">
  <section class="section">
    <div class="block">
      <h1 class="title">{{ .Title }}</h1>
      {{ with .Description }}
      <h2 class="subtitle">{{ . }}</h2>
      {{ end }}
    </div>
    <div class="block">
      {{ if .Pages }}
        <ul class="content">
          {{ range .Pages }}
          <li>
            <span class="has-text-grey">{{ .Date.Format "2006-01-02" }}</span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      {{ else }}
        <p class="content">記事がありません</p>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </section>
</div>
{{ end }}
