{{ define "main" }}
<div class="container">
  <section class="section">
    <div class="block">
      <h1 class="title">{{ .Title }}</h1>
    </div>
    <div class="block">
      {{ if .Pages }}
        <div class="field is-grouped is-grouped-multiline">
        {{ range .Pages }}
          <div class="control">
            <div class="tags has-addons">
              <a class="tag is-large is-primary" href="{{ .Permalink }}">{{ .Title }}</a>
              <span class="tag is-large">{{ len .Pages }}</span>
            </div>
          </div>
        {{ end }}
        </div>
      {{ end }}
    </div>
  </section>
</div>
{{ end }}
