{{ define "main" }}
<div class="container">
  <section class="section">
    <div class="block">
      <h1 class="title">{{ .Site.Title }}</h1>
      <h2 class="subtitle">{{ .Site.Params.description }}</h2>
    </div>
    <div class="block">
      {{ $posts := where .Site.RegularPages "Section" "posts" }}
      {{ if $posts }}
        <ul class="content">
          {{ range first 5 $posts }}
          <li>
            <span class="has-text-grey">{{ .Date.Format "2006-01-02" }}</span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      {{ else }}
        <p class="content">まだ記事がありません</p>
      {{ end }}
    </div>
    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    {{ if gt (len $posts) 5 }}
    <a href="/posts/">記事一覧へ</a>
    {{ end }}
  </section>
</div>
{{ end }}
